<!-- Home HTML with no user login -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block sidebar %}
{% if request.user.is_authenticated %}
<div class="ms-3">
    <h6 class="mb-0">Welcome, {{user.username}}</h6>
    <span style="font-size: 14px">Profile</span>
</div>
{% else %}
<div class="ms-3">
    <h6 class="mb-0">Welcome Guest</h6>
    <a href="{% url 'login'%}" style="font-size: 14px"><span>Sign In / Register</span></a>
</div>
{% endif %}
{% endblock sidebar %}

{% block navbar %}
<a href="{% url 'home' %}" class="navbar-brand d-flex d-lg me-4">
    <h3 class="text-primary mb-0">Book An Event</h3>
</a>
<a href="#" class="sidebar-toggler flex-shrink-0">
    <i class="fa fa-bars"></i>
</a>
{% if request.user.is_authenticated %}
<a type="button" class="btn btn-sm btn-outline-primary m-2 ms-auto" href="{% url 'logout' %}">Logout</a>
{% else %}
<a type="button" class="btn btn-sm btn-outline-primary m-2 ms-auto" href="{% url 'login' %}">Sign In</a>
{% endif %}
{% comment %}
    <!-- <button type="button" class="btn btn-sm btn-outline-primary m-2 ms-auto" href="{% url 'user-profile' %}">Update Profile</button> -->
{% endcomment %}
{% endblock navbar %}

{% block content %}
<!-- Events (Hoverable) Table -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Upcoming Events</h6>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Event Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Organizer</th>
                            <th scope="col">Totals Seats</th>
                            <th scope="col">Price</th>
                            <th scope="col">Seats Booked</th>
                            <th scope="col">Event Date</th>
                            <th scope="col">Date of Creation</th>
                        </tr>
                    </thead>
                    {%if events%} {% for event in events %}
                    <tbody>
                        <tr >
                            <th scope="row">{{event.id}}</th>
                            <td href="{% url 'event-detail' event_id=event.id%}">{{event.name}}</td>
                            <td>img</td>
                            <td>{{event.organizer}}</td>
                            <td>{{event.seats}}</td>
                            <td>{{event.price}}</td>
                            <td>{{event.seats_booked}}</td>
                            <td>{{event.date_event}}</td>
                            <td>{{event.created}}</td>
                        </tr>
                    </tbody>
                    {%endfor%} {%else%}
                    <td>No events at this time</td>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Events Table End -->
{% endblock content %}