<!-- Home HTML with user login -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
Customer Home
{% endblock title %}

{% block sidebar %}
<div class="ms-3">
    <h6 class="mb-0">Welcome, {{user.username}}</h6>
    <span style="font-size: 14px">Profile</span>
</div>
{% endblock sidebar %}

{% block navbar %}
    {% if request.user.is_authenticated %}
    <a href="index.html" class="navbar-brand d-flex d-lg me-4">
        <h3 class="text-primary mb-0"></i> Welcome back, {{user.username}}!</h3>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <!-- <button type="button" class="btn btn-sm btn-outline-primary m-2 ms-auto" href="{% url 'user-profile' %}">Update Profile</button> -->
    <button type="button" class="btn btn-sm btn-outline-primary m-2 ms-auto" href="{% url 'home' %}">Logout</button>
    {%endif%}
{% endblock navbar %}

{% block content %}
<!-- Events (Hoverable) Table -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Upcoming Events</h6>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Event Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Organizer</th>
                            <th scope="col">Seats</th>
                            <th scope="col">Price</th>
                            <th scope="col">Seats Booked</th>
                            <th scope="col">Event Date</th>
                            <th scope="col">Date of Creation</th>
                        </tr>
                    </thead>
                    <!-- {%if events%}  -->
                    {% for event in event %}
                    <tbody href="{% url 'event-detail' event_id=event.id%}">
                        <tr>
                            <th scope="row">{{event.id}}</th>
                            <td>{{event.name}}</td>
                            <td>img</td>
                            <td>{{event.organizer}}</td>
                            <td>{{event.seats}}</td>
                            <td>{{event.price}}</td>
                            <td>{{event.seats_booked}}</td>
                            <td>{{event.date_event}}</td>
                            <td>{{event.created}}</td>
                        </tr>
                    </tbody>
                    {%endfor%} 
                    <!-- {%else%}
                    <td>No events at this time</td>
                    {% endif %} -->
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Events Table End -->
{% endblock content %}